.founders-heading {
	padding: 50px;
	background: $red;
}

.founders-heading h1 {
	margin-top: 15px;
	color: $white;
	text-align: center;
}

.founder-one {
	width: 100%;
	height: auto;
	background: rgba(0, 0, 0, 0.2);
}

.founder-one-text {
	width: 60%;
	padding: 90px 0 90px 50px;
	float: right;
}

.founder-one-text h1 {
	color: $white;
	text-transform: none;
}

.founder-one-text p {
	color: $white;
}

.founder-one-img {
	float: left;
	margin-top: -36px;
}

.founder-two {
	width: 100%;
	height: auto;
	margin-top: 100px;
	background: rgba(0, 0, 0, 0.2);
}

.founder-two-text {
	width: 60%;
	padding: 90px 50px 90px 0;
	float: left;
}

.founder-two-text h1 {
	color: $white;
	text-transform: none;
}

.founder-two-text p {
	color: $white;
}

.founder-two-img {
	float: right;
	margin-top: -36px;
}

.founder-three {
	width: 100%;
	height: auto;
	margin-top: 100px;
	background: rgba(0, 0, 0, 0.2);
}

.founder-three-text {
	width: 60%;
	padding: 90px 0 90px 50px;
	float: right;
}

.founder-three-text h1 {
	color: $white;
	text-transform: none;
}

.founder-three-text p {
	color: $white;
}

.founder-three-img {
	float: left;
	margin-top: -36px;
}

.founder-four {
	width: 100%;
	height: auto;
	margin-top: 100px;
	background: rgba(0, 0, 0, 0.2);
}

.founder-four-text {
	width: 60%;
	padding: 90px 50px 90px 0;
	float: left;
}

.founder-four-text h1 {
	color: $white;
	text-transform: none;
}

.founder-four-text p {
	color: $white;
}

.founder-four-img {
	float: right;
	margin-top: -36px;
}

.our-vision-box {
	width: 100%;
	margin: 100px 0;
	background: $white;
	.our-vision-heading {
		max-width: 500px;
		margin: 0 auto;
	}
}

.our-vision-heading {
	max-width: 500px;
	height: auto;
	padding: 20px 0;
}

.our-vision-heading h1 {
	margin-top: -50px;
	padding: 20px 50px;
	background: $red;
	color: $white;
	text-align: center;
}

.module-about-us {
	padding: 65px 0;
	h2 {
		margin-bottom: 1.6em;
	}
	.about-columns {
		display: flex;
		flex-wrap: wrap;
	}
	.about-video {
		flex: 1 1 50%;
		padding-right: 20px;
		iframe {
			width: 100%;
		}
	}
	.about-description {
		flex: 1 1 50%;
		padding-left: 66px;
		h3 {
			font-size: 25px;
			margin-top: -5px;
			margin-bottom: 1.75em;
		}
	}
}
