

.donation-heading {
	widows: 100%;
	height: auto;
	padding-top: 100px;
	text-align: center;
	h2 {
		margin-top: -10px;
	}
	p {
		padding: 50px 0;
	text-align: justify;
	}
}

.offline-paying {
	width: 100%;
	text-align: center;
	img {
		padding: 50px 0;
	}
	h2 {
		padding-top: 50px;
		text-transform: none;
	}
	h3 {
		padding-top: 20px;
		padding-bottom: 100px;
		color: $red;
		text-transform: none;
	}
}

