//----------  Donations and membership
//------------------------------------------------------------------------------

.donation-buttons {
	width: 100%;
	margin: 0 auto;
}

.button-membership {
	width: 100%;
	background: $red;
	height: auto;
	margin: 100px;
}
