//----------  Donations and membership
//------------------------------------------------------------------------------
.btnadd {
    width: 100%;
	height: auto;
	padding: 65px 4px;
	display: flex;
}
