.reg {
	.wrap {
		padding-top: 100px;
		padding-bottom: 100px;
		form {
			width: 50%;
			height: auto;
			text-align: center;
			margin: 0 auto;
			input {
				width: 100%;
				margin: 0 auto;
				margin-bottom: 10px;
			}
			button {
				margin: 0 auto;
				background: $red;
				margin-top: 20px;
			}
		}
	}
	@include breakpoint(phone) {
		.wrap {
			form {
				width: 100%;
			}
		}
	}
}

