.show-yourself-landing {
	width: 100%;
	height: auto;
	padding: 50px 0;
	background: $red;
	h2 {
		margin-top: 10px;
		text-align: center;
		color: $white;
	}
}

.show-yourself-content-first {
	width: 100%;
	height: auto;
	padding: 100px 0 100px 60px;
}