@inherits UmbracoViewPage<List<PravaStranaUlice.Models.ExerciseStep>>

<div class="workout-step-item">
	<div class="step-image cover-bg" style="background-image: url('images/content/step-01.jpg')"></div>
	<div class="step-info">
		<span><strong>Korak 1. </strong>U početnom položaju telo je opruženo u obliku slova "V", širok hvat, palac iznad drške.</span>
	</div>
</div>