<footer class="footer" role="contentinfo">
	<div class="wrap">
		<div class="footer-top">
			<div class="popular-blog">
				<div class="popular-blog-blog">
					<img src="./././images/content/athlete-bodybuilding-exercise-931322.png">
				</div>
				<div class="popular-blog-heading">
					<h4>Amet</h4>
					<p>It is a long established fact that a reader will be distracted by the readable content or a page when looking at it's layout</p>
				</div>
			</div>
			<div class="newsletter">
				<h1 class="h3">Prijavite se na naš newsletter!</h1>
				<div class="newsletter-form">
					<input type="text" name="newsletter">
					<button class="btn btn-small" type="submit" name="submit" value="Prijavi-se">Prijavi se!</button>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="footer-nav">
				<div class="footer-nav-left">
					<ul>
						<li><a href="#">O nama</a></li>
						<li><a href="#">SW Atlete</a></li>
						<li><a href="#">Kako početi sa vežbanjem</a></li>
						<li><a href="#">SW Ekipe</a></li>
					</ul>
				</div>
				<div class="footer-nav-right">
					<ul>
						<li><a href="#">Parkovi za vežbanje</a></li>
						<li><a href="#">Dešavanja</a></li>
						<li><a href="#">SW Blog</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-info">
				<div class="footer-info-contact">
					<h1 class="h3">Kontaktirajte nas!</h1>
					<a href="javascript:;">hello@pravastranaulice.com</a>
				</div>
				<div class="footer-info-contact-social-icons">
					<a href="javascript:;" target="_blank" title="Follow us on Facebook">
						<span class="icon font-ico-facebook"></span>
						<span class="sr-only">Facebook</span>
					</a>
					<a href="javascript:;" target="_blank" title="Follow us on Instagram">
						<span class="icon font-ico-instagram"></span>
						<span class="sr-only">Instagram</span>
					</a>
					<a href="javascript:;" target="_blank" title="Follow us on YouTube">
						<span class="icon font-ico-youtube"></span>
						<span class="sr-only">YouTube</span>
					</a>
				</div>
				<button class="go-to-top" type="button">
					<span class="icon font-ico-arrow-up"></span>
				</button>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
