<footer class="footer" role="contentinfo">
	<div class="wrap">
		<div class="footer-top">
			<div class="popular-blog">
				<div class="popular-blog-blog">
					<img src="./././images/content/athlete-bodybuilding-exercise-931322.png">
				</div>
				<div class="popular-blog-heading">
					<h1 class="h4">Amet</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
				</div>
			</div>
			<div class="newsletter">
				<h1 class="h3">Prijavite se na naš newsletter!</h1>
				<input type="text" name="newsletter">
				<button type="submit" name="Prijavi-se">Prijavi se!</button>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="footer-nav-left">
				<ul>
					<li><a href="#">O nama</a></li>
					<li><a href="#">SW Atlete</a></li>
					<li><a href="#">Kako početi sa vežbanjem</a></li>
					<li><a href="#">SW Ekipe</a></li>
				</ul>
			</div>
			<div class="footer-nav-right">
				<ul>
					<li><a href="#">Parkovi za vežbanje</a></li>
					<li><a href="#">Dešavanja</a></li>
					<li><a href="#">SW Blog</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
