<header class="header" role="banner">
	<div class="header-upper">
		<div class="wrap">
			<a class="header-links language-links" href="javascript:;" title="srpski jezik">Sr</a>
			<a class="header-links language-links" href="javascript:;" title="engleski jezik">En</a>
			<a class="header-links donations-link" href="javascript:;" title="donacije i Älanstvo">Donacije i Älanstvo<span class="icon font-ico-user"></span></a>
		</div>
	</div>
	<div class="wrap">
		<a class="logo" href="index.html" title="Prava Strana Ulice">
			<img src="images/logo.png" alt="Prava Strana Ulice">
		</a>
		<nav class="main-nav" data-menu>
			<ul role="menubar">
				<li role="menuitem" >
					<a class="header-links" href="javascript:;">O nama</a>
				</li>
				<li role="menuitem">
					<a class="header-links" href="javascript:;">SW atlete</a>
				</li>
				<li role="menuitem">
					<a class="header-links" href="javascript:;">SW ekipe</a>
				</li>
				<li role="menuitem">
					<a class="header-links" href="javascript:;">Kako poÄeti sa veÅ¾banjem</a>
					<ul class="secondary-nav">
						<li>
							<a class="header-links" href="javascript:;">PoÄetni nivo</a>
						</li>
						<li>
							<a class="header-links" href="javascript:;">Napredni nivo</a>
						</li>
						<li>
							<a class="header-links" href="javascript:;">Profesionalni nivo</a>
						</li>
					</ul>
				</li>
				<li role="menuitem">
					<a class="header-links" href="javascript:;">Parkovi za veÅ¾banje</a>
				</li>
				<li role="menuitem">
					<a class="header-links" href="javascript:;">DeÅ¡avanja</a>
				</li>
				<li role="menuitem">
					<a class="header-links" href="javascript:;">SW blog</a>
				</li>
			</ul>
			<ul class="main-nav-social-links">
				<li>
					<a href="">
						<span class="icon font-ico-facebook"></span>
						<span class="sr-only">Facebook</span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="icon font-ico-instagram"></span>
						<span class="sr-only">Instagram</span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="icon font-ico-youtube"></span>
						<span class="sr-only">Youtube</span>
					</a>
				</li>
			</ul>
			<button class="main-nav-close" type="button" data-menu-close>
				<span class="icon font-ico-close"></span>
				<span class="sr-only">Menu close</span>
			</button>
		</nav>
		<button class="main-nav-toggle" type="button" data-menu-toggle>
			<span class="icon font-ico-menu-toggle"></span>
			<span class="sr-only">Menu open</span>
		</button>
	</div>
</header>
