<header class="header" role="banner">
	<div class="wrap">
		<div class="header-upper">
			<a class="header-links language-links" href="javascript:;" title="srpski jezik">Sr</a>
			<a class="header-links language-links" href="javascript:;" title="engleski jezik">En</a>
			<a class="header-links donations-link" href="javascript:;" title="donacije i članstvo">Donacije i članstvo<span class="icon font-ico-user"></span></a>

		</div>
		<a class="logo" href="index.html" title="Prava Strana Ulice">
			<img src="images/logo.png" alt="Prava Strana Ulice">
		</a>
		<nav class="main-nav">
			<ul role="menubar">
				<li role="menuitem" >
					<a class="header-links" href="javascript:;">O nama</a>
				</li>
				<li role="menuitem">
					<a class="header-links" href="javascript:;">SW atlete</a>
				</li>
				<li role="menuitem">
					<a class="header-links" href="javascript:;">Sw ekipe</a>
				</li>
				<li role="menuitem">
					<a class="header-links" href="javascript:;">Kako početi sa vežbanjem</a>
				</li>
				<li role="menuitem">
					<a class="header-links" href="javascript:;">Parkovi za vežbanje</a>
				</li>
				<li role="menuitem">
					<a class="header-links" href="javascript:;">Dešavanja</a>
				</li>
				<li role="menuitem">
					<a class="header-links" href="javascript:;">Blog</a>
				</li>
			</ul>
		</nav> 
	</div>
</header>
