//----------  osnivaci
//------------------------------------------------------------------------------

.founders {
	.wrap {
		position: relative;
	}
}

.founders-heading {
	padding: 50px;
	background: $red;
	h1 {
		margin-top: 15px;
		color: $white;
		text-align: center;
	}
}

.founder {
	width: 100%;
	background-color: rgba($black, 0.4);
	margin-bottom: 100px;
	.founder-img {
		width: 37.75%;
		position: absolute;
		bottom: 0;
	}
	.founder-text {
		width: 60%;
		h2 {
			color: $white;
			text-transform: none;
			letter-spacing: -1px;
			margin-bottom: 36px;
		}
		p {
			color: $white;
		}
	}
}

.founder-left {
	.founder-img {
		left: 20px;
	}
	.founder-text {
		padding: 70px 0 72px 28px;
		float: right;
	}
}

.founder-right {
	.founder-img {
		right: 20px;
	}
	.founder-text {
		padding: 70px 28px 72px 0;
		float: left;
	}
}

.our-vision-box {
	width: 100%;
	margin: 100px 0;
	background: $white;
	.our-vision-heading {
		max-width: 500px;
		margin: 0 auto;
	}
}

.our-vision-heading {
	max-width: 500px;
	height: auto;
	padding: 20px 0;
}

.our-vision-heading h1 {
	margin-top: -50px;
	padding: 20px 50px;
	background: $red;
	color: $white;
	text-align: center;
}

.our-vision-list {
	width: 100%;
	padding: 20px 100px 60px;
	li {
		margin: 40px 0;
	}
}

.module-about-us {
	padding: 65px 0;
	h2 {
		margin-bottom: 1.6em;
	}
	.about-columns {
		display: flex;
		flex-wrap: wrap;
	}
	.about-video {
		flex: 1 1 50%;
		padding-right: 20px;
		iframe {
			width: 100%;
		}
	}
	.about-description {
		flex: 1 1 50%;
		padding-left: 66px;
		h3 {
			font-size: 25px;
			margin-top: -5px;
			margin-bottom: 1.75em;
		}
	}
}
