//----------  main styles
//------------------------------------------------------------------------------

.index-templates {
	.wrap {
		max-width: 800px;
		padding: 10vh 0;
	}
	li {
		margin-bottom: 10px;
		a {
			font-size: 22px;
			font-weight: 600;
			text-transform: uppercase;
			color: $white;
		}
	}
}

.blog-landing {
	padding: 65px 0;
	h2 {
		text-align: center;
		color: $white;
	}
}

.blog-listing {
	padding: 45px 30px 4px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -42px;
	@include breakpoint(phone) {
		margin: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

.blog-item {
	display: flex;
	flex-direction: column;
	flex: 1 1 33.333%;
	max-width: 33.333%;
	padding: 0 42px;
	margin-bottom: 30px;
	@include breakpoint(tablet) {
		flex-basis: 50%;
		max-width: 50%;
		padding: 0 20px;
	}
	@include breakpoint(phone) {
		flex-basis: 100%;
		max-width: 100%;
		padding: 0;
	}
}

.blog-thumbnail {
	width: 100%;
	height: 292px;
	display: block;
}

.blog-info {
	padding: 30px;
	background-color: $white;
	flex: 1 1 auto;
	h3,
	p {
		color: $black;
	}
	h3 {
		text-transform: none;
		margin-bottom: 8px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	p {
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.7px;
		margin-bottom: 10px;
	}
}

.blog-details {
	padding: 65px 0 0;
}

.blog-title-section {
	width: 100%;
	margin-bottom: 45px;
	display: flex;
	h2 {
		text-align: center;
		flex: 1 1 auto;
    	padding-right: 245px;
	}
	.btn-previous {
		font-size: 22px;
		text-transform: none;
		position: relative;
		.icon {
			position: absolute;
			top: 13px;
			left: 15px;
			font-size: 15px;
		}
	}
	@include breakpoint(phone) {
		flex-direction: column;
		margin-bottom: 20px;
		.btn-previous {
			margin-bottom: 30px;
		}
		h2 {
			padding-right: 0;
		}
	}
}

.blog-content {
	padding: 60px 0 20px;
	h2 {
		text-transform: none;
		margin-bottom: 35px;
	}
	p {
		font-size: 15px;
		line-height: 30px;
		margin-bottom: 40px;
	}
	@include breakpoint(phone) {
		padding-top: 20px;
	}
}

.blog-comments-section {
	background-color: #242424;
	padding: 48px 0 20px;
	h3 {
		text-transform: none;
		color: $white;
		margin-bottom: 50px;
	}
	textarea {
		margin-bottom: 35px;
	}
	.btn-small {
		float: right;
		padding: 0 15px;
	}
	@include breakpoint(phone) {
		.btn {
			font-size: 14px;
		}
	}
}

.blog-navigation {
	@extend %clearfix;
	margin-bottom: 55px;
	.btn {
		font-size: 22px;
		text-transform: none;
		position: relative;
	}
	.icon {
		position: absolute;
		top: 13px;
		font-size: 15px;
	}
	.btn-previous {
		float: left;
		.icon {
			left: 15px;
		}
	}
	.btn-next {
		float: right;
		.icon {
			top: 11px;
			right: 15px;
			transform: rotate(180deg);
		}
	}
	@include breakpoint(phone) {
		.btn {
			width: 100%;
			margin-bottom: 20px;
		}
	}
}

.user-comments-section {
	padding: 15px 0;
}

.user-comments {
	width: 100%;
	padding: 10px 0 10px 87px;
	position: relative;
	margin-bottom: 3px;
	.username,
	p {
		color: $white;
	}
	p {
		font-size: 15px;
		line-height: 30px;
	}
	@include breakpoint(phone) {
		padding-left: 0;
	}
}

.user-image {
	position: absolute;
	left: 0;
	top: 25px;
	width: 67px;
	@include breakpoint(phone) {
		position: relative;
		top: 0;
		margin-bottom: 15px;
	}
}

.profile-img {
	border-radius: 100%;
}

.username {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.4px;
	margin-bottom: 7px;
	display: inline-block;
}

.athlete-landing {
	.search-form {
		float: left;
	}
	.sw-atlete-list {
		padding: 78px 0;
		margin-bottom: 0;
		text-align: center;
	}
	.sw-atlete-item {
		margin-bottom: 77px;
		transition: margin 0.5s ease-out;
	}
	@include breakpoint(desktop) {
		.sw-atlete-item {
			&:nth-child(3n + 2) {
				.sw-athlete-popup {
					left: -100%;
				}
			}
			&:nth-child(3n + 3) {
				.sw-athlete-popup {
					left: -200%;
				}
			}
		}
	}
	@include breakpoint(touch) {
		.search-form {
			margin-bottom: 15px;
		}
	}
	@include breakpoint(tablet) {
		.sw-atlete-item {
			&:nth-child(2n + 2) {
				.sw-athlete-popup {
					left: -100%;
				}
			}
		}
	}
	@include breakpoint(phone) {
		.search-form {
			float: none;
		}
	}
}

.btn-introduction {
	background-color: $black;
	float: right;
	position: relative;
	padding: 0 17px 0 38px;
	letter-spacing: 0;
	line-height: 40px;
	border: 2px solid $black;
	transition: 0.3s ease-out;
	@include hover {
		background-color: $white;
		color: $black;
		&::before,
		&::after {
			background-color: $black;
		}
	}
	&::before,
	&::after {
		background-color: $white;
		content: '';
		position: absolute;
		transition: 0.3s ease-out;
	}
	&::before {
		height: 3px;
		top: 18px;
		left: 20px;
		width: 11px;
	}
	&::after {
		height: 11px;
		top: 14px;
		left: 24px;
		width: 3px;
	}
	@include breakpoint(phone) {
		float: none;
		display: inline-block;
	}
}

.athlete-banner {
	background-color: $red;
	padding: 65px 0 55px;
	h2 {
		color: $white;
		text-align: center;
		margin-bottom: 65px;
	}
	@include breakpoint(touch) {
		h2 {
			margin-bottom: 30px;
		}
	}
	@include breakpoint(phone) {
		.wrap {
			text-align: center;
		}
	}
}

.sw-athlete-popup {
	position: absolute;
	left: 0;
	top: calc(100% + 77px);
	width: 300%;
	background-color: rgba($black, 0.5);
	padding: 60px 0 60px 60px;
	z-index: 30;
	display: none;
	&::before,
	&::after {
		position: absolute;
		height: 100%;
		width: 0;
		background-color: rgba($black, 0.5);
		top: 0;
		content: '';
		transition: 1s ease-out;
	}
	&::before {
		right: 100%;
	}
	&::after {
		left: 100%;
	}
	&.opened {
		&::before,
		&::after {
			width: 2000px;
		}
	}

	@include breakpoint(tablet) {
		width: 200%;
	}
	@include breakpoint(phone) {
		width: 100%;
		padding: 20px 0;
	}
}

.sw-athlete-details {
	margin-bottom: 70px;
	@include breakpoint(phone) {
		margin-bottom: 30px;
	}
}

.athlete-img-holder {
	float: left;
	width: 265px;
	margin-top: 20px;
	img {
		width: 100%;
		margin-bottom: 30px;
	}
	@include breakpoint(tablet) {
		width: 200px;
	}
	@include breakpoint(phone) {
		display: none;
	}
}

.athlete-contact {
	font-size: 20px;
	color: $white;
	display: block;
	padding: 25px;
	background: #242424;
	word-break: break-word;
	letter-spacing: -1px;
}

.athlete-details-content {
	position: relative;
	margin-left: 320px;
	padding-left: 33px;
	h2,
	h3 {
		text-transform: none;
	}
	h2 {
		margin-bottom: 27px;
	}
	h3 {
		font-weight: 400;
		font-family: $font-default;
		letter-spacing: 1px;
		margin-bottom: 30px;
	}
	p {
		color: $white;
		letter-spacing: -0.3px;
		margin-bottom: 55px;
	}
	.bullet-list {
		padding-right: 200px;
		li {
			color: $white;
		}
	}
	.btn-close-popup {
		position: absolute;
		top: 10px;
		right: 0;
		font-size: 18px;
		color: $white;
	}
	@include breakpoint(tablet) {
		margin-left: 210px;
	}
	@include breakpoint(phone) {
		margin-left: 0;
		padding-left: 0;
		.bullet-list {
			padding-right: 0;
			margin-bottom: 20px;
		}
		.social-icons {
			position: relative;
			bottom: auto;
			text-align: right;
		}
	}
}

.athlete-achievements {
	position: relative;
}

.social-icons {
	font-size: 0;
	position: absolute;
	right: 0;
	bottom: 7px;
	li {
		font-size: 15px;
		display: inline-block;
		margin-left: 17px;
	}
	a {
		width: 45px;
		height: 45px;
		border-radius: 100%;
		background: $red;
		position: relative;
		display: block;
		transition: 0.3s ease-out;
		@include hover {
			background: $white;
			.icon {
				color: $red;
			}
		}
	}
	.icon {
		font-size: 15px;
		color: $white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.athlete-gallery {
	@extend %clearfix;
	margin-left: -60px;
	@include breakpoint(phone) {
		margin-left: 0;
	}
}

.athlete-gallery-list {
	margin: 0 -10px;
	li {
		float: left;
		width: 16.667%;
		padding: 0 10px;
	}
	img {
		width: 100%;
	}
	@include breakpoint(tablet) {
		li {
			width: 33.33%;
			margin-bottom: 20px;
		}
	}
	@include breakpoint(phone) {
		li {
			width: 50%;
			margin-bottom: 20px;
		}
	}
}

.workout-tutorial {
	padding: 65px 0;
	h2 {
		margin-bottom: 57px;
	}

	.iframe-holder {
		position: relative;
		width: 100%;
		overflow: hidden;
		padding-bottom: 56.6%;
		margin: 0 15px 40px;
		iframe {
			width: 100%;
			position: absolute;
			height: 100%;
			right: 0;
			top: 0;
			left: 0;
			bottom: 0;
			margin: auto;
		}
	}

	.section-button {
		padding: 50px 0 0;
	}
}

.workout-picker {
	display: flex;
	padding: 36px 0;
	margin-bottom: 40px;
	@include breakpoint(touch) {
		display: block;
		max-width: 500px;
    margin-left: auto;
    margin-right: auto;
		.select-btn {
			margin-bottom: 20px;
			width: 100%;
		}
	}
}

.workout-item {
	flex: 1 1 33.333%;
	max-width: 33.333%;
	text-align: center;
	@include breakpoint(touch) {
		max-width: 100%;
		width: 100%;
	}
}

.workout-steps {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -18px;
}

.workout-step-item {
	display: flex;
	flex-direction: column;
	flex: 1 1 33.333%;
	max-width: 33.333%;
	padding: 0 45px;
	margin-bottom: 30px;
	@include breakpoint(tablet) {
		flex-basis: 50%;
		max-width: 50%;
		padding: 0 20px;
	}
	@include breakpoint(phone) {
		flex-basis: 100%;
		max-width: 100%;
		padding: 0 20px;
	}
}

.step-image {
	padding-bottom: 85%;
}

.step-info {
	padding: 22px 28px;
	background-color: $red;
	text-align: center;
	flex: 1 1 auto;
	span {
		color: $white;
		font-size: 14px;
		line-height: 30px;
		font-family: $font-default;
		letter-spacing: 1px;
	}
}

.iframe-container {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}

.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.video-unavailable {
	padding: 154px 21% 112px;
	text-align: center;
	margin-left: 26px;
	margin-right: 26px;

	span {
		display: block;
	}

	.text-holder {
		span {
			font-size: 30px;
			line-height: 47px;
			color: $white;
			font-weight: 700;
			letter-spacing: 1.5px;
			margin-bottom: 43px;
		}

		.btn {
			text-transform: none;
		}
	}

	.conditions {
		padding: 62px 0 0;

		.conditions-heading {
			font-size: 30px;
			line-height: 47px;
			color: $white;
			font-weight: 700;
			letter-spacing: 0.5px;
			margin-bottom: 0;
		}
	}

	.conditions-list {
		padding: 25px 0;

		span {
			font-size: 20px;
			line-height: 34px;
			color: $white;
			font-weight: 500;
			margin-bottom: 10px;
			letter-spacing: 0.9px;
		}
	}

	@include breakpoint(touch) {
		margin: 0;
		padding: 50px 20px 30px;
	}
}

.level-picker {
	display: flex;
	margin: 0 35px 60px;
	width: calc(100% - 70px);
	border-radius: 30px;
	padding: 0;
	@include breakpoint(touch) {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		flex-direction: column;
		overflow: hidden;
	}
}

.level-item {
	flex: 1 1 33.333%;
	width: 33.333%;
	box-shadow: 0 0 8px rgba(35, 31 , 32, .25);
	border-radius: 30px;
	margin: 0 5px;

	.select-btn {
		text-align: center;
		width: 100%;
		box-shadow: none;
	}

	@include breakpoint(touch) {
		flex-basis: 100%;
		width: 100%;
		overflow: hidden;

		.select-btn {
			border-radius: 0;
			height: auto;
		}
	}
}

.workout-selection {
	text-align: center;
	margin-bottom: 40px;
	.select-btn {
		margin: 0 20px;
	}
	@include breakpoint(touch) {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		.select-btn {
			margin: 0 0 20px;
			width: 100%;
		}
	}
}

.workout-options {
	.workout-step-item {
		margin-bottom: 42px;
	}
	.step-info {
		padding: 22px 28px 40px;
		background: transparent;
		h4 {
			font-size: 22px;
			line-height: 36px;
			text-transform: none;
		}
		.workout-heading {
			transition: 0.3s ease;
			&:hover,
			&.active {
				color: $red;
			}
		}
	}
	.step-image {
		padding-bottom: 100%;
	}
	@include breakpoint(touch) {
		.step-info {
			padding-bottom: 20px;
			h4 {
				margin-bottom: 0;
			}
		}
	}
}

.workout-crew-popup {
	display: none;
	padding: 46px 0 75px;
	background-color: #f5f5f5;
	box-shadow: 0 0 30px rgba(#231f20, 0.2);
	margin: 0 -25%;
	.wrap {
		position: relative;
		text-align: center;
	}
	.sw-crews-crew-item {
		box-shadow: none;
		background: transparent;
		border-radius: 0;
		margin-bottom: 48px;
	}
	.crew-image {
		margin-bottom: 67px;
	}
	p {
		text-align-last: center;
	}
	.btn-close-crew-popup {
		position: absolute;
		top: -25px;
		right: 50px;
		font-size: 18px;
		color: $nero;
	}
	.crew-popup-slider {
		width: 95%;
		margin: 0 auto;
		.icon {
			color: $black;
		}
	}
	@include breakpoint(1300px) {
		margin: 0 -2%;
	}
	@include breakpoint(touch) {
		.btn-close-crew-popup {
			right: 40px;
		}
		.slick-next {
			right: -30px;
		}
		.slick-prev {
			left: -30px;
		}
	}
	@include breakpoint(phone) {
		.btn-close-crew-popup {
			right: 30px;
		}
	}
}
