@inherits UmbracoViewPage<PravaStranaUlice.Models.Athlete>

<div class="sw-atlete-item">
    <a class="thumbnail cover-bg" href="javascript:;" style="background-image: url('/images/content/milos-petrovic.jpg')"></a>
    <div class="sw-atlete-info">
        <h4><a href="javascript:;">Miloš Petrović</a></h4>
        <div class="sw-social">
            <a href="javascript:;" target="_blank" title="Follow Miloš on Facebook">
                <span class="icon font-ico-facebook"></span>
                <span class="sr-only">Facebook</span>
            </a>
            <a href="javascript:;" target="_blank" title="Follow Miloš on Instagram">
                <span class="icon font-ico-instagram"></span>
                <span class="sr-only">Instagram</span>
            </a>
            <a href="javascript:;" target="_blank" title="Follow Miloš on YouTube">
                <span class="icon font-ico-youtube"></span>
                <span class="sr-only">YouTube</span>
            </a>
        </div>
    </div>
    <div class="sw-athlete-popup">
        <div class="sw-athlete-details">
            <div class="athlete-img-holder">
                <img src="/images/content/milos-petrovic.jpg" alt="">
                <a class="athlete-contact" href="javascript:;">www.pravastranaulice.rs/milospetrovic</a>
            </div>
            <div class="athlete-details-content">
                <h2 class="color-white">Miloš Petrović</h2>
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                </p>
                <h3 class="color-white">Vizija sporta</h3>
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
                </p>
                <div class="athlete-achievements">
                    <h3 class="color-white">Važnija dostignuća</h3>
                    <ul class="bullet-list">
                        <li>It is a long established fact that a reader will be distracted</li>
                        <li>The readable content of a page when</li>
                    </ul>
                    <ul class="social-icons">
                        <li>
                            <a href="javascript:;"><span class="icon font-ico-facebook"></span></a>
                        </li>
                        <li>
                            <a href="javascript:;"><span class="icon font-ico-instagram"></span></a>
                        </li>
                        <li>
                            <a href="javascript:;"><span class="icon font-ico-youtube"></span></a>
                        </li>
                    </ul>
                </div>
                <button class="btn-close-popup" type="button">
                    <span class="icon font-ico-close"></span>
                    <span class="sr-only">Close popup</span>
                </button>
            </div>
        </div>
        <div class="athlete-gallery">
            <ul class="athlete-gallery-list">
                <li>
                    <a href="javascript:;"><img src="/images/content/gallery-img-01.jpg" alt=""></a>
                </li>
                <li>
                    <a href="javascript:;"><img src="/images/content/gallery-img-01.jpg" alt=""></a>
                </li>
                <li>
                    <a href="javascript:;"><img src="/images/content/gallery-img-01.jpg" alt=""></a>
                </li>
                <li>
                    <a href="javascript:;"><img src="/images/content/gallery-img-01.jpg" alt=""></a>
                </li>
                <li>
                    <a href="javascript:;"><img src="/images/content/gallery-img-01.jpg" alt=""></a>
                </li>
                <li>
                    <a href="javascript:;"><img src="/images/content/gallery-img-01.jpg" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
</div>
