<form class="newsletter-form" action="" method="post">
    <div class="wrap">
        <label for="newsletter">Prijavite se na naš newsletter!</label>
        <div class="newsletter-input-wrap">
            <input type="text" id="newsletter" name="newsletter">
            <button class="newsletter-submit" type="submit">Prijavi se!</button>
        </div>
    </div>
</form>