@font-face {
	font-family: 'svgicons';
	src: url('../../fonts/dist/svgicons.woff2') format('woff2'),
		url('../../fonts/dist/svgicons.woff') format('woff'),
		url('../../fonts/dist/svgicons.ttf') format('truetype');
}

@font-face {
	font-family: 'fontawesomeicons';
	src: url('../../fonts/dist/font-awesome-5-free-solid-900.woff2') format('woff2'),
		url('../../fonts/dist/font-awesome-5-free-solid-900.woff') format('woff'),
		url('../../fonts/dist/font-awesome-5-free-solid-900.ttf') format('truetype');
}

@mixin font-styles {
	font-family: 'svgicons';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@if $filename == ico-arrow-up {
		$char: '\E001';
	}
	@if $filename == ico-chevron-down {
		$char: '\E002';
	}
	@if $filename == ico-chevron-left {
		$char: '\E003';
	}
	@if $filename == ico-chevron-right {
		$char: '\E004';
	}
	@if $filename == ico-close {
		$char: '\E005';
	}
	@if $filename == ico-facebook {
		$char: '\E006';
	}
	@if $filename == ico-instagram {
		$char: '\E007';
	}
	@if $filename == ico-menu-toggle {
		$char: '\E008';
	}
	@if $filename == ico-plus {
		$char: '\E009';
	}
	@if $filename == ico-search {
		$char: '\E00A';
	}
	@if $filename == ico-upload {
		$char: '\E00B';
	}
	@if $filename == ico-user {
		$char: '\E00C';
	}
	@if $filename == ico-youtube {
		$char: '\E00D';
	}

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}

.font-ico-arrow-up {
	@include font(ico-arrow-up);
}
.font-ico-chevron-down {
	@include font(ico-chevron-down);
}
.font-ico-chevron-left {
	@include font(ico-chevron-left);
}
.font-ico-chevron-right {
	@include font(ico-chevron-right);
}
.font-ico-close {
	@include font(ico-close);
}
.font-ico-facebook {
	@include font(ico-facebook);
}
.font-ico-instagram {
	@include font(ico-instagram);
}
.font-ico-menu-toggle {
	@include font(ico-menu-toggle);
}
.font-ico-plus {
	@include font(ico-plus);
}
.font-ico-search {
	@include font(ico-search);
}
.font-ico-upload {
	@include font(ico-upload);
}
.font-ico-user {
	@include font(ico-user);
}
.font-ico-youtube {
	@include font(ico-youtube);
}
