
.donation-heading {
	widows: 100%;
	height: auto;
	padding-top: 100px;
	text-align: center;
	h2 {
		margin-top: -10px;
	}
	p {
		padding: 50px 0;
	text-align: justify;
	}
}

.offline-paying {
	width: 100%;
	text-align: center;
	img {
		padding: 50px 0;
	}
	h2 {
		padding-top: 50px;
		text-transform: none;
	}
	h3 {
		padding-top: 20px;
		padding-bottom: 100px;
		color: $red;
		text-transform: none;
	}
}

.our-donators {
	background: $red;
	width: 100%;
	height: auto;
	.wrap {
		padding-top: 100px;
		padding-bottom: 20px;
	}
	h1 {
		text-align: center;
		color: $white;
	}
	@include breakpoint(touch) {
		.wrap {
			padding-top: 20px;
		}
	}
}
 .donators-content {
	width: 100%;
	height: auto;
	padding-top: 100px;
	.donators-name {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		span {
			display: block;
			flex: 1;
			padding-bottom: 10px;
			text-align: center;
			color: $white;
			font-weight: 700;
		}
		.city {
			font-size: 16px;
			font-weight: 400;
		}
	}
	.donators-block {
		width: 15%;
		text-align: center;
		margin-bottom: 30px;
		img {
			margin-bottom: 10px;
			border-radius: 50%;
		}
	}
	ul {
		li {
			a {
				font-size: 16px;
				font-family: Montserrat;
				font-weight: 500;
				color: $white;
			}
		}
	}
	@include breakpoint(touch) {
		padding-top: 20px;
		.donators-block {
			width: 33%;
		}
	}
	@include breakpoint(phone) {
		.donators-block {
			width: 50%;
		}
	}
}
 .pagination {
	display: flex;
	justify-content: center;
	li {
		align-items: center;
		background-color: transparent;
		border-radius: 50%;
		color: #fff;
		display: flex;
		justify-content: center;
		height: 22px;
		margin-right: 5px;
		transition: background-color .3s,
					color .3s;
		width: 22px;
 		&:hover, &.active {
			background-color: #fff;
			font-size: 40px;
			a {
				color: #e51018;
			}
		}
	}
 }