.log-in {
	.wrap {
		padding-top: 190px;
		text-align: center;
		padding-bottom: 200px;
		h3 {
			color: $red;
		}
		span {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
			color: $red;
			margin: 5px 0;
			input {
				width: 550px;
			}
		}
	}
}

.btn-log-in {
	margin-top: 20px;
	margin-bottom: 100px;
}

.btn-reg {
	margin-top: 10px;
}