//----------  street workout ekipe
//------------------------------------------------------------------------------

.sw-crews {
	padding: 65px 0;
	h2 {
		margin-bottom: 1.35em;
	}
}

.sw-crews-intro {
	p {
		margin-bottom: 50px;
		text-align-last: center;
	}
}

.sw-crews-form {
	width: 100%;
	position: relative;
	max-width: 480px;
	margin: 0 auto 62px;
	padding-right: 68px;
	input, select {
		margin-bottom: 50px;
		box-shadow: 0 0 8px rgba(#231f20, 0.2);
	}
	.btn-submit {
		position: absolute;
		top: 0;
		right: 0;
		width: 45px;
		height: 45px;
		font-size: 18px;
		border-radius: 50%;
		padding: 0;
		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			&::before {
				display: block;
			}
		}
	}
}

.sw-crews-country {
	display: none;
	text-align: center;
}

.sw-crews-city-item {
	background-color: $red;
	border-radius: 20px;
	height: 130px;
	transition: 0.3s ease-out;
	@include hover {
		background-color: $nero;
	}
	a {
		height: 100%;
		padding: 20px;
		// sass-lint:disable no-important
		display: flex !important;
		// sass-lint:enable no-important
		align-items: center;
		justify-content: center;
	}
	h4 {
		text-align: center;
		text-transform: none;
		color: $white;
		margin-bottom: 0;
	}
}

.sw-crews-city-list {
	overflow: hidden;
	.sw-crews-list-wrap {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 30px;
		margin: 30px 0;
		@include breakpoint(touch) {
			grid-template-columns: repeat(5, 1fr);
		}
		@include breakpoint(phone) {
			grid-template-columns: repeat(3, 1fr);
		}
		@include breakpoint(530px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

.sw-crews-crew-list {
	display: none;
	overflow: hidden;
	.sw-crews-list-by-city {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 30px;
		margin: 30px 0;
		@include breakpoint(touch) {
			grid-template-columns: repeat(5, 1fr);
		}
		@include breakpoint(phone) {
			grid-template-columns: repeat(3, 1fr);
		}
		@include breakpoint(530px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

.sw-crews-crew-item {
	background-color: $white;
	border-radius: 20px;
	text-align: center;
	padding: 10px;
	height: 130px;
	line-height: 110px;
	box-shadow: 0 0 30px rgba(#231f20, 0.2);
	position: relative;
	* {
		vertical-align: middle;
	}
	img{
		max-height:100%;
	}
	@include breakpoint(530px) {
		img {
			max-height: 80%;
		}
	}
}

.show-more-wrap, .back-to-wrap {
	padding-top: 40px;
	text-align: center;
	margin-bottom: 60px;
}