//----------  street workout blog
//------------------------------------------------------------------------------

.sw-blog {
	padding: 65px 0;
	h2 {
		margin-bottom: 1.6em;
	}
	.blog-listing {
		padding-top: 0;
	}
}
