.sw-athlete-details {
    padding: 50px 0 20px;
    .athlete-img-holder {
        p {
            padding: 35px 25px;
            background-color: #242424;
            color: $white;
        }
    }
    .athlete-gallery {
        margin-top: 80px;
    }
}