.field-validation-error, .validation-summary-errors {
	display: block;
	color: $red;
}

.important-achievements {
	span {
		&.field-validation-valid {
			display: none;
		}
		&.field-validation-error {
			display: inline-block;
			color: $white;
		}
	}
}

.social-media {
	.s-m-icon {
		.field-validation-valid {
			display: none;
		}
		.field-validation-error {
			span {
				clear: both;
				font-size: 16px;
				color: $red;
			}
		}
	}
}

.newsletter-input-wrap {
	.field-validation-error {
		color: $white;
	}
}

.failed-request {
	color: $red;
	margin-top: 15px;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
}