@using PravaStranaUlice.Web.ViewModels.Partials.Layout
@inherits UmbracoViewPage<MetaTagsViewModel>

<title>@Model.SeoTitle</title>
@if (!string.IsNullOrWhiteSpace(Model.SeoDescription))
{
	<meta name="description" content="@Model.SeoDescription">
}
@if (Model.HideFromSearchEngines)
{
	<meta name="robots" content="noindex,nofollow">
	<meta name="googlebot" content="noindex,nofollow">
}
else
{
	<meta name="robots" content="index,follow">
	<meta name="googlebot" content="index,follow">
}
<link rel="canonical" href="@Model.CanonicalLink" />
