@using PravaStranaUlice.Web.ViewModels.Partials.Layout
@inherits UmbracoViewPage<MetaTagsViewModel>

<title>@Model.SeoTitle</title>
<meta name="description" content="">

<meta name="robots" content="noindex,nofollow">
<meta name="googlebot" content="noindex,nofollow">
