@using PravaStranaUlice.Web.Controllers.Surface.Partials
@inherits UmbracoViewPage<PageViewModel>
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="@Model.Language">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">
	<meta charset="utf-8">	
	@{ 
		Html.RenderAction<LayoutController>(c => c.MetaTags(null), Model.MetaTags);
	}	
	
	@Styles.Render("~/bundles/styles")
	@Scripts.Render("~/bundles/scripts")
		
	<link href="/favicon.ico" rel="icon" />
</head>
<body>
    @{
        Html.RenderAction<LayoutController>(c => c.Header(null), Model.Header);
    }
    <main class="main">
        @RenderBody()
    </main>
    @{
        Html.RenderAction<LayoutController>(c => c.Footer(null), Model.Footer);
    }

</body>
</html>