@inherits UmbracoViewPage<PravaStranaUlice.Models.BlogLanding>
<main class="main">

    @if (Model.DisplayNewsletter)
    {
        Html.RenderPartial("NewsletterHeader");
    }

    <div class="blog-landing cover-bg" style="background-image: url('/images/content/blog-background-img.jpg')">
        <div class="wrap">
            <h2>@Model.PageTitle</h2>
            <div class="blog-listing">
               
                @foreach(var blogItem in Model.GetPosts(Model.ItemsPerPage))
                {
                    Html.RenderPartial("_BlogItem", blogItem);
                }
            </div>
        </div>
    </div>
</main>