@inherits UmbracoViewPage<PravaStranaUlice.Models.BlogDetail>

<main class="main">
	<div class="blog-details cover-bg" style="background-image: url('/images/content/background-opened-blog.jpg')">
		<div class="wrap">
			<div class="blog-title-section">
				<button class="btn btn-small btn-previous" type="button">Nazad na blog<span class="icon font-ico-chevron-left"></span></button>
                @if (!string.IsNullOrEmpty(Model.PageTitle))
                {
				    <h2>@Model.PageTitle</h2>
                }
			</div>
			<img src="@Model.BannerImage.Url" alt="">
            @if (!string.IsNullOrEmpty(Model.Text.ToString()))
            {
			    <div class="blog-content">
				    @Model.Text
			    </div>
            }
			<ul class="pagination">
				<li>
					<a href="javascript:;"><span class="icon font-ico-chevron-left"></span></a>
				</li>
				<li>
					<a href="javascript:;">1</a>
				</li>
				<li>
					<a href="javascript:;">2</a>
				</li>
				<li>
					<a href="javascript:;">3</a>
				</li>
				<li>
					<a href="javascript:;"><span class="icon font-ico-chevron-right"></span></a>
				</li>
			</ul>
			<div class="blog-navigation">
				<button class="btn btn-small btn-previous" type="button">Prethodni blog<span class="icon font-ico-chevron-left"></span></button>
				<button class="btn btn-small btn-next" type="button">Sledeći članak<span class="icon font-ico-chevron-left"></span></button>
			</div>
		</div>
		<div class="blog-comments-section">
			<div class="wrap">
				<h3>Komentari</h3>
				<form class="comments-section-form" action="" method="post">
					<label for="comment"><span class="sr-only">Komentari</span></label>
					<textarea name="comment" id="comment"></textarea>
					<button class="btn btn-small" type="submit">Objavi komentar</button>
				</form>
				<div class="user-comments-section">
						<div class="user-comments">
						<div class="user-image">
							<img class="profile-img" src="images/content/profile-img-01.jpg" alt="">
						</div>
						<div class="user-activity">
							<span class="username">sub123</span>
							<p>
								Mauris mollis, tellus in convallis varius, libero eros placerat lorem, nec placerat lacus risus in velit. Curabitur dictum, arcu eget luctus hendrerit, leo metus mattis ligula, a mattis libero neque vel urna. Donec vulputate faucibus imperdiet. Fusce non turpis malesuada, gravida erat sed, commodo ipsum. Phasellus in vulputate erat. Sed porta, ligula quis fringilla faucibus, ante turpis gravida quam, vitae venenatis tellus purus nec eros.
							</p>
						</div>
					</div>
					<div class="user-comments">
						<div class="user-image">
							<img class="profile-img" src="images/content/profile-img-01.jpg" alt="">
						</div>
						<div class="user-activity">
							<span class="username">sub123</span>
							<p>
								Mauris mollis, tellus in convallis varius, libero eros placerat lorem, nec placerat lacus risus in velit. Curabitur dictum, arcu eget luctus hendrerit, leo metus mattis ligula, a mattis libero neque vel urna. Donec vulputate faucibus imperdiet. Fusce non turpis malesuada, gravida erat sed, commodo ipsum. Phasellus in vulputate erat. Sed porta, ligula quis fringilla faucibus, ante turpis gravida quam, vitae venenatis tellus purus nec eros.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>