@inherits UmbracoViewPage<PravaStranaUlice.Models.DonationsAndMembership>

<main class="main">
	@if (!string.IsNullOrEmpty(Model.Title))
	{

		<h1 class="sr-only">@Model.Title</h1>
	}


	<div class="donation-background cover-bg" style="background-image: url('/images/background-about-us.png');">

		<div class="wrap">

			<div class="about-us-heading">
				@if (!string.IsNullOrEmpty(Model.Title))
				{
					<h1 class="h2">@Model.Title</h1>
				}
			</div>
			<div class="about-us-content">
				<div class="content-youtube">
					@if (Model.Video != null)
					{
						<img src="@Model.Video">
					}

				</div>
				<div class="content-text">
					@if (!string.IsNullOrEmpty(Model.Text.ToString()))
					{
						Html.Raw(Model.Text);
					}
				</div>
			</div>

		</div>

	</div>
</main>

