<div class="sw-atlete cover-bg" style="background-image: url('images/content/sw-atlete-bg.jpg')">
	<div class="wrap">
		<h2 class="centered color-white">Street workout atlete</h2>
		<div class="sw-atlete-list">
			<div class="sw-atlete-item">
				<div class="thumbnail cover-bg" style="background-image: url('images/content/milos-petrovic.jpg')"></div>
				<div class="sw-atlete-info">
					<h4><a href="javascript:;">Miloš Petrović</a></h4>
					<div class="sw-social">
						<a href="javascript:;" target="_blank" title="Follow Miloš on Facebook">
							<span class="icon font-ico-facebook"></span>
							<span class="sr-only">Facebook</span>
						</a>
						<a href="javascript:;" target="_blank" title="Follow Miloš on Instagram">
							<span class="icon font-ico-instagram"></span>
							<span class="sr-only">Instagram</span>
						</a>
						<a href="javascript:;" target="_blank" title="Follow Miloš on YouTube">
							<span class="icon font-ico-youtube"></span>
							<span class="sr-only">YouTube</span>
						</a>
					</div>
				</div>
			</div>
			<div class="sw-atlete-item">
				<div class="thumbnail cover-bg" style="background-image: url('images/content/milos-petrovic.jpg')"></div>
				<div class="sw-atlete-info">
					<h4><a href="javascript:;">Miloš Petrović</a></h4>
					<div class="sw-social">
						<a href="javascript:;" target="_blank" title="Follow Miloš on Facebook">
							<span class="icon font-ico-facebook"></span>
							<span class="sr-only">Facebook</span>
						</a>
						<a href="javascript:;" target="_blank" title="Follow Miloš on Instagram">
							<span class="icon font-ico-instagram"></span>
							<span class="sr-only">Instagram</span>
						</a>
						<a href="javascript:;" target="_blank" title="Follow Miloš on YouTube">
							<span class="icon font-ico-youtube"></span>
							<span class="sr-only">YouTube</span>
						</a>
					</div>
				</div>
			</div>
			<div class="sw-atlete-item">
				<div class="thumbnail cover-bg" style="background-image: url('images/content/milos-petrovic.jpg')"></div>
				<div class="sw-atlete-info">
					<h4><a href="javascript:;">Miloš Petrović</a></h4>
					<div class="sw-social">
						<a href="javascript:;" target="_blank" title="Follow Miloš on Facebook">
							<span class="icon font-ico-facebook"></span>
							<span class="sr-only">Facebook</span>
						</a>
						<a href="javascript:;" target="_blank" title="Follow Miloš on Instagram">
							<span class="icon font-ico-instagram"></span>
							<span class="sr-only">Instagram</span>
						</a>
						<a href="javascript:;" target="_blank" title="Follow Miloš on YouTube">
							<span class="icon font-ico-youtube"></span>
							<span class="sr-only">YouTube</span>
						</a>
					</div>
				</div>
			</div>
			<div class="sw-atlete-item">
				<div class="thumbnail cover-bg" style="background-image: url('images/content/milos-petrovic.jpg')"></div>
				<div class="sw-atlete-info">
					<h4><a href="javascript:;">Miloš Petrović</a></h4>
					<div class="sw-social">
						<a href="javascript:;" target="_blank" title="Follow Miloš on Facebook">
							<span class="icon font-ico-facebook"></span>
							<span class="sr-only">Facebook</span>
						</a>
						<a href="javascript:;" target="_blank" title="Follow Miloš on Instagram">
							<span class="icon font-ico-instagram"></span>
							<span class="sr-only">Instagram</span>
						</a>
						<a href="javascript:;" target="_blank" title="Follow Miloš on YouTube">
							<span class="icon font-ico-youtube"></span>
							<span class="sr-only">YouTube</span>
						</a>
					</div>
				</div>
			</div>
			<div class="sw-atlete-item">
				<div class="thumbnail cover-bg" style="background-image: url('images/content/milos-petrovic.jpg')"></div>
				<div class="sw-atlete-info">
					<h4><a href="javascript:;">Miloš Petrović</a></h4>
					<div class="sw-social">
						<a href="javascript:;" target="_blank" title="Follow Miloš on Facebook">
							<span class="icon font-ico-facebook"></span>
							<span class="sr-only">Facebook</span>
						</a>
						<a href="javascript:;" target="_blank" title="Follow Miloš on Instagram">
							<span class="icon font-ico-instagram"></span>
							<span class="sr-only">Instagram</span>
						</a>
						<a href="javascript:;" target="_blank" title="Follow Miloš on YouTube">
							<span class="icon font-ico-youtube"></span>
							<span class="sr-only">YouTube</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<form class="sw-atlete-form" action="" method="post">
			<label for="sw-atlete-search">Pronadji atletu</label>
			<input type="text" id="sw-atlete-search" name="sw-atlete-search">
			<button class="btn btn-submit" type="submit">
				<span class="sr-only">Pronadji atletu</span>
				<span class="icon font-ico-search"></span>
			</button>
		</form>
	</div>
</div>