<div class="banner">
	<div class="banner-img cover-bg" style="background-image: url('images/content/hero-banner.jpg');"></div>
	<div class="banner-content">
		<h2 class="h1">Suspendisse sed sollicitudin mauris</h2>
		<a class="btn" href="javascript:;">Ipsum</a>
		<div class="banner-social-links">
			<a href="javascript:;" target="_blank" title="Follow us on Facebook">
				<span class="icon font-ico-facebook"></span>
				<span class="sr-only">Facebook</span>
			</a>
			<a href="javascript:;" target="_blank" title="Follow us on Instagram">
				<span class="icon font-ico-instagram"></span>
				<span class="sr-only">Instagram</span>
			</a>
			<a href="javascript:;" target="_blank" title="Follow us on YouTube">
				<span class="icon font-ico-youtube"></span>
				<span class="sr-only">YouTube</span>
			</a>
		</div>
	</div>
</div>
