<div class="events">
	<div class="wrap">
		<h2 class="centered">DeÅ¡avanja</h2>
		<div class="events-list events-slider">
			<div class="event-item">
				<a class="thumbnail cover-bg" href="javascript:;" style="background-image: url('images/content/fitness-event.jpg')"></a>
				<div class="event-info">
					<h3><a href="javascript:;">Lorem ipsum</a></h3>
					<div class="event-info-desc">
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered  in...</p>
					</div>
				</div>
			</div>
			<div class="event-item">
				<a class="thumbnail cover-bg" href="javascript:;" style="background-image: url('images/content/fitness-event.jpg')"></a>
				<div class="event-info">
					<h3><a href="javascript:;">Dolor sit amet</a></h3>
					<div class="event-info-desc">
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered  in...</p>
					</div>
				</div>
			</div>
			<div class="event-item">
				<a class="thumbnail cover-bg" href="javascript:;" style="background-image: url('images/content/fitness-event.jpg')"></a>
				<div class="event-info">
					<h3><a href="javascript:;">Consectetur adipiscing</a></h3>
					<div class="event-info-desc">
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered  in...</p>
					</div>
				</div>
			</div>
			<div class="event-item">
				<a class="thumbnail cover-bg" href="javascript:;" style="background-image: url('images/content/fitness-event.jpg')"></a>
				<div class="event-info">
					<h3><a href="javascript:;">Dolor sit amet</a></h3>
					<div class="event-info-desc">
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered  in...</p>
					</div>
				</div>
			</div>
			<div class="event-item">
				<a class="thumbnail cover-bg" href="javascript:;" style="background-image: url('images/content/fitness-event.jpg')"></a>
				<div class="event-info">
					<h3><a href="javascript:;">Consectetur adipiscing</a></h3>
					<div class="event-info-desc">
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered  in...</p>
					</div>
				</div>
			</div>
			<div class="event-item">
				<a class="thumbnail cover-bg" href="javascript:;" style="background-image: url('images/content/fitness-event.jpg')"></a>
				<div class="event-info">
					<h3><a href="javascript:;">Dolor sit amet</a></h3>
					<div class="event-info-desc">
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered  in...</p>
					</div>
				</div>
			</div>
			<div class="event-item">
				<a class="thumbnail cover-bg" href="javascript:;" style="background-image: url('images/content/fitness-event.jpg')"></a>
				<div class="event-info">
					<h3><a href="javascript:;">Consectetur adipiscing</a></h3>
					<div class="event-info-desc">
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered  in...</p>
					</div>
				</div>
			</div>
			<div class="event-item">
				<a class="thumbnail cover-bg" href="javascript:;" style="background-image: url('images/content/fitness-event.jpg')"></a>
				<div class="event-info">
					<h3><a href="javascript:;">Dolor sit amet</a></h3>
					<div class="event-info-desc">
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered  in...</p>
					</div>
				</div>
			</div>
			<div class="event-item">
				<a class="thumbnail cover-bg" href="javascript:;" style="background-image: url('images/content/fitness-event.jpg')"></a>
				<div class="event-info">
					<h3><a href="javascript:;">Consectetur adipiscing</a></h3>
					<div class="event-info-desc">
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered  in...</p>
					</div>
				</div>
			</div>
			<div class="event-item">
				<a class="thumbnail cover-bg" href="javascript:;" style="background-image: url('images/content/fitness-event.jpg')"></a>
				<div class="event-info">
					<h3><a href="javascript:;">Dolor sit amet</a></h3>
					<div class="event-info-desc">
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered  in...</p>
					</div>
				</div>
			</div>
			<div class="event-item">
				<a class="thumbnail cover-bg" href="javascript:;" style="background-image: url('images/content/fitness-event.jpg')"></a>
				<div class="event-info">
					<h3><a href="javascript:;">Consectetur adipiscing</a></h3>
					<div class="event-info-desc">
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered  in...</p>
					</div>
				</div>
			</div>
			<div class="event-item">
				<a class="thumbnail cover-bg" href="javascript:;" style="background-image: url('images/content/fitness-event.jpg')"></a>
				<div class="event-info">
					<h3><a href="javascript:;">Consectetur adipiscing</a></h3>
					<div class="event-info-desc">
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered  in...</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
