<div class="sw-maps">
	<div class="sw-maps-heading cover-bg" style="background-image: url('images/content/sw-maps-bg.jpg')">
		<h2 class="centered color-white">Parkovi za veÅ¾banje</h2>
	</div>
	<div class="sw-map">
		<div class="sw-map-cities">
			<div class="sw-map-city">
				<button class="sw-city-button" type="button">Beograd</button>
			</div>
			<div class="sw-map-city">
				<button class="sw-city-button" type="button">Novi Sad</button>
			</div>
			<div class="sw-map-city">
				<button class="sw-city-button" type="button">Zrenjanin</button>
			</div>
			<div class="sw-map-city">
				<button class="sw-city-button" type="button">PanÄevo</button>
			</div>
			<div class="sw-map-city">
				<button class="sw-city-button" type="button">Subotica</button>
			</div>
			<div class="sw-map-city">
				<button class="sw-city-button" type="button">Å abac</button>
			</div>
			<div class="sw-map-city">
				<button class="sw-city-button" type="button">Ruma</button>
			</div>
			<div class="sw-map-city">
				<button class="sw-city-button" type="button">Sremska Mitrovica</button>
			</div>
			<div class="sw-map-city">
				<button class="sw-city-button" type="button">Kragujevac</button>
			</div>
		</div>
		<div class="sw-map-container">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d510673.8664961151!2d20.221936027041014!3d44.997554849046885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2srs!4v1536423751151" width="1920" height="540" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>
