<div class="banner">
	<div class="banner-img cover-bg" style="background-image: url('images/content/hero-banner.jpg');"></div>
	<div class="banner-content">
		<h2 class="h1">Suspendisse sed sollicitudin mauris</h2>
		<a class="btn" href="javascript:;">Ipsum</a>
		<div class="banner-social-links">
			<a href="javascript:;" target="_blank" title="Follow us on Facebook">Facebook</a>
			<a href="javascript:;" target="_blank" title="Follow us on Instagram">Instagram</a>
			<a href="javascript:;" target="_blank" title="Follow us on YouTube">YouTube</a>
		</div>
	</div>
</div>
