@using PravaStranaUlice.Web.Controllers.Surface

@{Html.RenderPartial("_Head");}
<div class="container">
    @{Html.RenderAction<LayoutController>(c => c.Header());}
    @RenderBody()
    @{Html.RenderAction<LayoutController>(c => c.Footer());}
</div>